.foodCate {
  background-color: #f8f8f8;
  padding: 2rem 0;
}

.foodHeading {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1.4rem;
}

.foodContainer {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.foodcards {
  display: flex;
  gap: 1.9rem;
  overflow: hidden;
}

.conatiner {
  width: 200px;
  height: 200px;
}

.backword,
.forword {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px silver;
}

.backword {
  position: absolute;
  top: 48%;
  left: -1.5%;
}

.forword {
  position: absolute;
  top: 48%;
  right: 0.5%;
}
