.foodBarndContainer {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.brandHedaing {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1.4rem;
}

.foodBrandcards {
  display: flex;
  gap: 2.6rem;
  overflow: hidden;
}

.conatiner {
  width: 170px;
  height: 200px;
  padding-top: 0.2rem;
}

.backword,
.forword {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px silver;
}

.backword {
  position: absolute;
  top: 45%;
  left: -1.5%;
}

.forword {
  position: absolute;
  top: 45%;
  right: -0.5%;
}
