.foodBarndContainer {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.brandHedaing {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1.4rem;
}

.foodBrandcards {
  display: flex;
  gap: 1.8rem;
  overflow: hidden;
}

.conatiner {
  width: 250px;
  height: 250px;
  padding-top: 0.2rem;
}

.backword,
.forword {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px silver;
}

.backword {
  position: absolute;
  top: 42%;
  left: -1.5%;
}

.forword {
  position: absolute;
  top: 42%;
  right: 0.5%;
}
