.tab_section {
  margin-top: 0.8rem;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
}

.tab_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_elemets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1.2rem;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
  width: 150px;
}

/* for Selected tab */
.tab_elemets:hover {
  border-bottom: 3px solid rgb(255, 126, 139);
}

.tab_imageContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f1f1f1;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tag_heading {
  font-size: 1.1rem;
  font-weight: 500;
  color: #888383;
}

@media screen and (max-width: 480px) {
  .tab_section {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .tab_section {
    margin-top: 0.4rem;
    padding: 0.5rem 0 0 0;
    display: flex;
    align-items: center;
  }

  .tab_elemets {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin: 0 0.6rem;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
  }
}
